include _partial/helpers

if config.feed
  case config.feed.type
    when 'rss2'
      - var feed_type='application/rss+xml'
    when 'atom'
    default
      - var feed_type='application/atom+xml'

doctype html
html(lang='#{config.language}')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='black-translucent', name='apple-mobile-web-app-status-bar-style')
    meta(content='telephone=no', name='format-detection')
    meta(name='description', content=config.description)
    block title
    block link_canonical
    link(rel='stylesheet', type='text/css', href=url_for(theme.css) + '/style.css' + '?v=' + theme.version)
    link(rel='stylesheet', type='text/css', href=url_for(theme.css) + '/highlight.css' + '?v=' + theme.version)
    include _partial/favicons
    //- link(rel='Shortcut Icon', href=url_for('favicon.ico'))
    //- link(rel="bookmark", href=url_for('favicon.ico'))
    //- link(rel='apple-touch-icon', href=url_for('apple-touch-icon.png'))
    //- link(rel='apple-touch-icon-precomposed', href=url_for('apple-touch-icon.png'))
    if config.feed
      link(rel='alternate', type=feed_type, href=url_for(config.feed.path))
    if true
      script.
        'use strict';
        document.addEventListener('DOMContentLoaded', function() {
          var config_root = '#{config.root}'.trim();
          var config_external_link = '#{config.external_link}'.trim().toLowerCase();
          if (config_root[0] !== '/') {
            console.warn('WARNING: Hexo: the value of "root:" in _config.yml is invalid (should start with "/").');
            config_root = '/' + config_root;
          }
          if (config_root[config_root.length-1] !== '/') {
            console.warn('WARNING: Hexo: the value of "root:" in _config.yml is invalid (should end with "/").');
            config_root = config_root + '/';
          }
          if (! config_external_link.match(/^(?:true|false|)$/)) {
            console.warn('WARNING: Hexo: the value of "external_link:" in _config.yml is invalid (should be true or false).');
          }
          var is_aggressive_mode = config_external_link === 'true';
          var is_allowed_different_root = false;
          var is_allowed_other_scheme = true;
          Array.prototype.forEach.call(document.getElementsByTagName('a'), function(e) {
            var href = (e.getAttribute('href') || '').trim();
            if (! href) return;
            var is_external_link = href.match(/^(https?:)?\/\//i) ||
                                   (href[0] === '/' && ! is_allowed_different_root && href.substr(0, config_root.length) !== config_root) ||
                                   (href[0] !== '/' && ! is_allowed_other_scheme && ! herf.match(/^(?:javascript|data|file|urn):/i));
            var is_opening_new_window = e.getAttribute('target') ? ! e.getAttribute('target').match(/^(?:_self|_parent|_top)$/)
                                                                 : (is_aggressive_mode && is_external_link);
            var obj = (e.getAttribute('rel') || '')
              .toLowerCase()
              .split(/\s+/)
              .filter(function(e) { return e; })
              .reduce(function(acc, val) { acc[val] = true; return acc; }, {});
            if (obj['noreferer']) {
              console.warn('maybe typo: "noreferer" should be "noreferrer".');
              console.warn(e);
              obj['noreferrer'] = true;
            }
            if (is_aggressive_mode && is_external_link) obj['external'] = true;
            if (is_opening_new_window) obj['noopener'] = true;
            if (obj['noreferrer'] || obj['nofollow']) {
              obj['noreferrer'] = true;
              obj['nofollow'] = true;
            }
            var result = Object.keys(obj).join(' ');
            if (result) {
              e.setAttribute('rel', result);
            }
            if (is_opening_new_window && ! e.getAttribute('target')) {
              e.setAttribute('target', '_blank');
            }
          });
        }, false);

  body
    .body_container
      #header
        .site-name
          h1
            a(href=url_for(''))= config.title
          p.description= config.subtitle
        #nav-menu
          - for (var i in theme.menu)
            +a_with_current(theme.menu[i].directory, __(theme.menu[i].page), theme.menu[i].icon)

      #layout.layout-g
        .layout-l: .content_container
          block content
        if theme.widgets_on_small_screens
          .layout-r: #sidebar
            each item in theme.widgets
              != partial('_widget/' + item + '.jade')
        else
          .layout-r.hidden_mid_and_down: #sidebar
            each item in theme.widgets
              != partial('_widget/' + item + '.jade')
      include _partial/footer
    include _partial/after_footer
