#footer
  .footer-info
    p
      if theme.baidusitemap
        a(href=url_for(theme.baidusitemap.path)) Baidu Sitemap
        |  |  
      if theme.sitemap
        a(href=url_for(theme.sitemap.path)) Sitemap
        |  |  
      if theme.feed
        a(href=url_for(theme.feed.path)) RSS
        |  |  
      if theme.about.email || theme.about.weibo_url || theme.about.github_url
        span Contact 
          if theme.about.email
            a.fa.fa-email(href="mailto:#{theme.about.email}",target="_blank")
          if theme.about.weibo_url
            a.fa.fa-weibo(href="#{theme.about.weibo_url}",target="_blank")
          if theme.about.github_url
            a.fa.fa-github(href="#{theme.about.github_url}",target="_blank")
        |  |  
      if theme.widgets.includes('notice')
        if config.author
          span Made by 
            a(href=url_for(''), rel='nofollow')= config.author
          |  |  
      else
        span Copyright &copy; 
          a(href=url_for(''), rel='nofollow')= config.author || config.title
        |  |  
      span Powered by 
        a(rel='nofollow', target='_blank', href='https://hexo.io') Hexo
      |  |  
      span
        a(rel='nofollow', target='_blank', href='https://github.com/chaooo/hexo-theme-BlueLake') Theme
        |  by 
        a(rel='nofollow', target='_blank', href='https://github.com/chaooo') Charles